.header {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  align-items: center;
  &__nav {
    display: flex;
    list-style: none;
    color: #ffffff;
    gap: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
